$navbar-height: 1.8rem;
$navbar-background-color: rgba(58, 56, 56, 0.5);
$navbar-alt-vertical-background-color: rgba(104, 101, 101, 0.6);
$alt-color: #eaeaea;
$forecolor-1: #dacbd9;
$ubuntu-text-color: #363636;
$ubuntu-warmer-grey: #f9faf9;
$ubuntu-orange: #E95420;

@import "~bulma";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

$background-image: '~/src/assets/ubuntu-original-2016-hd-3840x2160.jpg';

body {
    font-family: 'Ubuntu', sans-serif !important;
    background-image: url($background-image);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px;

    .button {
        font-size: 0.85rem;
        font-weight: bold;

        &.is-link {
            color: $ubuntu-text-color;
            background-color: $ubuntu-warmer-grey;
            border: 1px solid $ubuntu-orange;
            font-weight: normal;
        }
    }
    .is-search-action {
        justify-content: flex-end !important;
    }

    a.icon {
        transition: all 1s ease;
        border: 1px solid transparent;
        &.icon-sm {
            margin-bottom: 3px;
            min-height: 50px;
            min-width: 55px;
            padding: 4px 6px;
            span{
                display: inline-block;
                min-height: 42px;
                min-width: 42px;
                background-size: 40px 40px;
                background-repeat: no-repeat;
            }
        }

        &.icon-bg {
            min-height:120px;
            min-width: 120px;
            span{
                display: inline-block;
                min-height: 80px;
                min-width: 80px;
                background-size: 80px 80px;
                background-repeat: no-repeat;
                margin-bottom: 20px;

                &:after {
                    position: relative;
                    bottom: -85px;
                    color: $forecolor-1;
                    font-weight: bold;
                    font-size: 0.85rem;
                    
                }
                &.icon-search:after {
                    content: 'Search';
                    left: 15px;
                }
                &.icon-books:after {
                    content: 'Books';
                    left: 25px;
                }
                &.icon-movies:after {
                    content: 'Movies';
                    left: 20px;
                }
                &.icon-music:after {
                    content: 'Music';
                    left: 23px;
                }
                &.icon-games:after {
                    content: 'Games';
                    left: 25px;
                }
                &.icon-memberships:after {
                    content: 'Memberships';
                    left: 5px;
                }
                &.icon-orders:after {
                    content: 'Orders';
                    left: 20px;
                }
                &.icon-shipments:after {
                    content: 'Shipments';
                    left: 10px;
                }
                &.icon-users:after {
                    content: 'Users';
                    left: 22px;
                }
                &.icon-roles:after {
                    content: 'Roles';
                    left: 22px;
                }
                &.icon-settings:after {
                    content: 'Settings';
                    left: 15px;
                }
                &.icon-admin:after {
                    content: 'Site Admin';
                    left: 5px;
                }
                &.icon-bookmark:after {
                    content: 'Bookmarks';
                    left: 5px;
                }
                &.icon-history:after {
                    content: 'History';
                    left: 15px;
                }
                &.icon-watchlist:after {
                    content: 'Watchlist';
                    left: 10px;
                }
                &.icon-market:after {
                    content: 'Market';
                    left: 20px;
                }
                &.icon-cases:after {
                    content: 'Cases';
                    left: 25px;
                }
                &.icon-help:after {
                    content: 'Help';
                    left: 25px;
                }
            }
        }

        span.icon-search {
            background-image: url('../icons/search-128.png');
        }
        span.icon-books {
            background-image: url('../icons/booklet-128.png');
        }

        span.icon-movies {
            background-image: url('../icons/video-128.png');
        }

        span.icon-music {
            background-image: url('../icons/music-128.png');
        }

        span.icon-games {
            background-image: url('../icons/game-128.png');
        }

        span.icon-memberships {
            background-image: url('../icons/membership-128.png');
        }

        span.icon-orders {
            background-image: url('../icons/invoice-128.png');
        }

        span.icon-shipments {
            background-image: url('../icons/delivery-128.png');
        }

        span.icon-users {
            background-image: url('../icons/user-128.png');
        }

        span.icon-roles {
            background-image: url('../icons/role-128.png');
        }

        span.icon-settings {
            background-image: url('../icons/tools-128.png');
        }

        span.icon-admin {
            background-image: url('../icons/globe-gear-128.png');
        }

        span.icon-bookmark {
            background-image: url('../icons/bookmark-128.png');
        }

        span.icon-history {
            background-image: url('../icons/history-128.png');
        }

        span.icon-watchlist {
            background-image: url('../icons/watchlist-128.png');
        }

        span.icon-market {
            background-image: url('../icons/market-128.png');
        }

        span.icon-cases {
            background-image: url('../icons/cases-128.png');
        }

        span.icon-help {
            background-image: url('../icons/help-128.png');
        }
    }
}

